# Datasets
data/*
!data/get_dataset.sh
!data/glove_to_word2vec.py

# Outputs
output/datasources
output/models

# Virtualenv
venv

# Python caches
__pycache__
cil_text_classification_2018.egg-info
dist

# IDE IDEA files
.idea
.vscode

# Macos files
.DS_Store
